  /* Fonts
  ----------------------------------------------------------------------------- */

    @font-face {
      font-family: 'Circular-Book';
      font-style: normal;
      font-weight: normal;
        src: url('../fonts/lineto-circular-book.eot');
        src: url('../fonts/lineto-circular-book.eot?#iefix') format('embedded-opentype'),
             url('../fonts/lineto-circular-book.woff') format('woff'),
             url('../fonts/lineto-circular-book.svg#lineto-circular-book') format('svg');
    }

    /* Chrome-Windows font anti-aliasing fix */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      @font-face {
        font-family: 'Circular-Book';
        font-style: normal;
        font-weight: normal;
          src: url('../fonts/lineto-circular-book.svg#lineto-circular-book') format('svg');
      }
    }


    html{
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
      -o-box-sizing:border-box;
      box-sizing:border-box;
      font-size:18px;
      height:100%;
      overflow:hidden;
      overflow-y:-moz-scrollbars-vertical;
      overflow-y:scroll
    }

    *,*:before,*:after{
      -webkit-box-sizing:inherit;
      -moz-box-sizing:inherit;
      -ms-box-sizing:inherit;
      -o-box-sizing:inherit;
      box-sizing:inherit
    }
 
    body{
      color:#757575; 
      background:#FFFFFF; 
      font-family:'Circular-Book',Arial,sans-serif;
      line-height:1.278;
      margin:0;
      min-height:100%;
      padding:0;
      display:-webkit-box;
      display:-ms-flexbox;
      display:-webkit-flex;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-flex-direction:column;
      -ms-flex-direction:column;
      flex-direction:column;
      -webkit-transition:none;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale
    }

    .bg-image{
      bottom:0;
      position:absolute;
      overflow:hidden;
      right:0;
      text-align:right;
      top:80px;
      width:500px;
      z-index:0
     }

    @media all and (max-width:1440px){
      .bg-image{
        width:480px
      }
     }
   
    @media all and (max-width:1280px){
      .bg-image{
        width:400px
      }
     }

    @media all and (max-width:930px){
      .bg-image{
        width:350px
      }
     }

    @media all and (max-width:850px){
      .bg-image{
        width:310px
      }
     }

    @media all and (max-width:770px){
      .bg-image{
        width:330px
      }
      .bg-image img.mobile{
        display:inline
      }
      .bg-image img.desktop{
        display:none
      }
    }

    @media all and (max-width:700px){
      .bg-image{width:310px
      }
    }
 
    .bg-image .mobile{
      display:none
    }

    .bg-image img{
      margin-right:-90px;
      max-width:100%;
      z-index:0
    }

    @media all and (min-width:1440px){
      .bg-image img{margin-right:0
     }
    }

    @media all and (max-width:930px){
      .bg-image img{margin-right:-140px
      }
    }

    .privacy .bg-image{
      display:none
    }

    .outer-container{
      display:block;
      position:relative;
      -webkit-box-flex:1;
      -ms-flex:1 0 auto;
      flex:1 0 auto;
      -webkit-flex:1 0 auto
    }

    .wrapper{
      box-sizing:border-box;
      padding-bottom:20vh;
      padding-left:1vw;
      padding-top:15vh;
      position:relative
    }

    .error-404 .wrapper{
      padding-right:30px
    }

    .text-container{
      max-width:600px;
      padding-right:50px
      }

    @media all and (max-width:1024px){
      .text-container{
        max-width:500px
      }
    }

    @media all and (max-width:500px){
      .text-container{
        padding-right:50px
      }
    }

    .section{
      padding:50px 0
    }

    .section.gray{
      background-color:#e9eaea;
    }

    @media all and (min-width:1600px){
      .section{
        padding:100px 0
      }
    }

    #menu, #menu2 {
      position:absolute;
      right:36px;
      top:27px;
      z-index:999;
      line-height:26px; 
      word-spacing:-5px!important;
    }

    #menu a, #menu2 a {
      text-decoration:none
    }

    #menu ul, #menu2 ul{
      list-style:none;
      margin:0;padding:0
    }

    #menu a, #menu2 a{
      color:#757575
    }
    
    #menu a:hover, #menu2 a:hover{
      color:#424242
    }

    #menu li, #menu2 li{
      display:inline-block;
      padding-left:20px
    }


    @media all and (max-width:1048px) {
      .interactive-demo, #menu {visibility:hidden!important;} 
    }

    @media all and (min-width:1048px) {
      #menu2 {visibility:hidden!important;} 
    }

    footer.site-footer{
      background-color:#343c55;
      background-image: url(../img/footer-logo_2x.png);
      background-position: 97% 54%;
      background-position: calc(100% - 30px) 54%;
      background-position: right 30px 54%;
      background-size: 75px 18px;
      background-repeat: no-repeat;
      min-height: 90px;
      position: sticky;
      z-index: 9;
      top: 100vh;
    }

    .lt-ie10 footer.site-footer{
      background-image:url(../img/footer-logo_1x.png)
    }
   
    .investor{
      padding-top:70px
    }

    .hide,.hide-inline{
      display:none
    }

    .lt-ie9 .hide{
      display:block
    }

    .lt-ie9 .hide-inline{
      display:inline
    }

    .lt-ie9 .read-more{
      display:none
    }

    .lt-ie9 .ellipsis{
      display:none
    }


    .copy a.read-more{
      color:#ed1c24;
      text-decoration:none
    }

    .copy a.read-more:hover{
      color:#7f0a0f
    }

    .copy a{
      color:#757575;
      text-decoration:underline
    }

    .copy a:hover{
      color:darker(#757575,20%)
    }

    .copy a.hidden-link{
      color:inherit;
      cursor:text;
      text-decoration:none
    }

    .copy a.hidden-link:hover{
      color:inherit;
      cursor:text;
      text-decoration:none
    }

    h1{
      font-size:26px;
      font-weight:normal
    }

    h1 a{
      color:#ed1c24;
      text-decoration:none
    }

    h1 a:hover{
      color:#757575
    }

    #logo{
      background-repeat:no-repeat;
      background-position:0 0;
      color:transparent;
      font:0 / 0 a;
      text-shadow:none;
      background:url(../img/logo_2x.png) 0 0 no-repeat;
      background-size:100px 24px;
      height:24px;
      left:36px;
      position:absolute;
      top:27px;
      width:100px;
      z-index:999
     }

    #logo img{
      image-rendering:optimizeQuality
    }

    .lt-ie9 #logo{
      background-image:url(../img/logo_1x.png)}#gicon{
      margin-bottom: -130px; 
      margin-left: -54px; 
      width: 382px; 
      image-rendering:optimizeQuality
    }

    @media all and (max-width:1280px){
      #gicon{
      margin-bottom:-60px;
      margin-left:-78px;
      width:166px
      }
    }

    @media all and (max-width:930px){
      #gicon{
        margin-bottom:-50px;
        margin-left:-68px;
        width:145px
      }
    }

    @media all and (max-width:850px){
      #gicon{
        margin-bottom:-45px;
        margin-left:-59px;
        width:128px
      }
    }

    @media all and (max-width:700px){
      #gicon{
        margin-left:-59px;
        width:128px
      }
    }

    #forgoogle{
      background-repeat:no-repeat;
      background-position:0 0;
      color:transparent;
      font:0 / 0 a;
      text-shadow:none;
      background:url(../img/forgoogle-large_2x.png) 0 0 no-repeat;
      background-size:260px 49px;
      height:49px;
      margin-bottom:21px;
      position:relative;
      width:260px;
      image-rendering:optimizeQuality
    }

    @media all and (max-width:700px){
      #forgoogle{
        background:url(../img/forgoogle-medium_2x.png) 0 0 no-repeat;
        background-size:230px 43px;
        height:43px;
        width:230px
      }
    }

    @media all and (max-width:449px){
      #forgoogle{
        background:url(../img/forgoogle-small_2x.png) 0 0 no-repeat;
        background-size:190px 36px;
        height:36px;
        width:190px
      }
    }

    .lt-ie9 #forgoogle{
      background-image:url(../img/forgoogle-large_1x.png)
    }
 
    @media all and (max-width:700px){
      .lt-ie9 #forgoogle{
        background-image:url(../img/forgoogle-medium_1x.png)
      }
    }

    @media all and (max-width:449px){
      .lt-ie9 #forgoogle{
        background-image:url(../img/forgoogle-small_1x.png)
      }
    }

    #forgoogle:after{
      display:none;
      content:url(../img/forgoogle-large_2x.png) url(../img/forgoogle-large_1x.png) url(../img/forgoogle-medium_2x.png) url(../img/forgoogle-medium_1x.png) url(../img/forgoogle-small_2x.png) url(../img/forgoogle-small_1x.png)
    }
   
    #signature{
      margin-left:-15px;
      margin-top:2px;
      max-width:80%
    } 

    @media all and (max-width:1024px){
      #signature{
        max-width:100%
      }
    }

    .thetext {
      display: inline-flex;
      margin-top: 20vh;
      margin-right: auto;
      text-align: left;
      flex-flow: row;
      width: 101vw;
      margin-left:-0.5vw;
      font-size: 2em;
      font-family:Circular-Book";
      font-weight:lighter;
    }

    .text-left {
      max-width: 50vw;
      inline-size: -webkit-fill-available;
      color: rgba(0,0,0,0.7);
      min-width: 48vw;
      text-align: right;
      border-right: 1px solid black;
      padding-right: 2vw;
    }

    .text-right {
      text-align:left;
      color: rgba(0,0,0,0.2);
      width:48vw;
      padding-left:2.5vw;
      border-left:1px solid black;
    }

    @media only screen and (max-width:580px) {
      .thetext {
        font-size: 1.25em;
      }
      .text-left, .text-right {
        padding-right: 5vw;
        padding-left:5vw;
      }
    }
    
    @media only screen and (max-width:380px) {
      .thetext {
        font-size: 0.75em;
      }
    }

    .back {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .btn-class{
      border:1px solid #dadce0;
      color: #1a73e8;
      border-radius: 4px;
      -webkit-border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      font-family: Verdana, Roboto, Arial;
      width: auto;
      height: auto;
      font-size: 16px;
      padding: 10px 40px;
      text-shadow: 0 1px 0 #fff;
      cursor: pointer;cursor: pointer;
      background-image: linear-gradient(to top, #grey, #blue);
      background-color: #fff;
    }

    .btn-class:hover, .btn-class:active{
      border:1px solid #d2e3fc;
      color: #1a73e8;
      cursor: pointer;
      background-color: #eff5fd;
    }
