
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: inherit;
    line-height: 22px;
    padding-bottom: 5px!important;
}
.woocommerce ul.products {
    padding-top: 40px;
}
.woocommerce .products ul, .woocommerce ul.products {
    margin: 0 -3px 1em;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product a.product-category {
    display: block;
    height: 100%;
    background-color: #fff;
	text-align: center;
}
.woocommerce ul.products li.product h3 {
    text-align: center;
    padding: 4px 0px 10px 0px;
    margin: -2px 0 0;
    font-weight: 600;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
	font-size: 15px;
    color: #585858;
}
.woocommerce ul.products li.product h3:hover {
	color: #1abc9c;
}
.woocommerce ul.products li.product .price del {
    display: inline;
}
.woocommerce li.product del .amount, .woocommerce-page li.product del .amount {
    font-size: inherit;
    margin-right: 5px;
}
.woocommerce ins, .woocommerce-page ins {
    text-decoration: none;
    color: #1abc9c;
}
.woocommerce ul.products li.product .price {
    display: block;
    margin: 0 0 0px;
    text-align: center;
    font-size:17px;
    color: #383838;
    font-weight:500;
	padding: 0px 0px 5px 0px;
}
.woocommerce ul.products li.product .price ins {
    font-weight: inherit;
}
.woocommerce li.product div.star-rating {
    display: none;
}
.woocommerce a.added_to_cart {
	display: inline-block;
    padding: 0 2px;
    font-family: inherit;
    text-transform: capitalize;
    font-size: 11px;
    margin-left: 5px;
}
.woocommerce a.button.add_to_cart_button::before {
    content: "\e07a";
	font-family: 'ElegantIcons'; 
	font-size: 14px;
    display: inline-block;
	padding-right: 8px;
	color: #ffffff;
}
.woocommerce a.button::before {
    content: "\e04e";
	font-family: 'ElegantIcons'; 
	font-size: 14px;
    display: inline-block;
	padding-right: 8px;
	color: #ffffff;
}
.woocommerce a.button:hover::before {
	color: #FFF;
}
.woocommerce a.button {
    padding: 12px 20px !important;
    font-size: inherit!important;
}
.woocommerce a.button.product_type_variable:before{
	content: "\61";
}
.woocommerce .product .onsale.out-of-stock-button {
    background-color: #f1c40f;
    font-size: 13px;
    width: 60px;
    height: 60px;
    padding-top: 14px;
    line-height: 15px;
}
.woocommerce .woocommerce-result-count {
	margin: 15px 0 1em 0px;
}
/********************
TABLE
********************/
.woocommerce div.product form.cart .variations td.label label {
	display: block;
    position: relative;
    color: #333;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 4px 0px;
    text-align: left;
}
.woocommerce div.product tr:nth-child(even) {
    background-color: inherit;
}
/********************
SINGLE PRODUCT PAGE
********************/
.woocommerce .product h1.product_title {
    font-size: 34px;
}
.woocommerce div[itemprop="aggregateRating"] .star-rating {
     display: none; 
}
.woocommerce .star-rating, .woocommerce-page .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1em;
    font-size: 1.1em;
    width: 5.4em;
    font-family: 'star';
    color: #f4d83a;
}
a.woocommerce-review-link {
    text-decoration: none!important;
	font-size: 12px;
}
a.woocommerce-review-link:hover {
	color:#979797;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 1.218em;
    margin-top: -7px;
}
.woocommerce del, .woocommerce-page del {
    color: #777;
}
.woocommerce div.product .summary p.price span.amount, .woocommerce .woocommerce-variation-price span.price {
    font-weight: 600;
    font-size: 19px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #383838;
    font-size: inherit;
	padding: 10px 0px;
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
	font-weight: inherit;
}
.woocommerce .woocommerce-variation-price {
	padding:0px 0px 20px 0px;
}
.woocommerce del .amount, .woocommerce-page del .amount {
    margin-right: 10px;
    font-size: inherit;
}
.woocommerce ins, .woocommerce-page ins {
    text-decoration: none;
    color: inherit;
}
/* Custom +/- */
.woocommerce div.product .product_meta, .woocommerce div.product .cart {
    margin: 25px 0;
}
.woo-add-plus-minus input[type=number]::-webkit-outer-spin-button,
.woo-add-plus-minus input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.woo-add-plus-minus input[type=number] {
    -moz-appearance:textfield;
}
.woocommerce .quantity .minus:hover, .woocommerce #content .quantity .minus:hover, .woocommerce-page .quantity .minus:hover, .woocommerce-page #content .quantity .minus:hover, .woocommerce .quantity .plus:hover, .woocommerce #content .quantity .plus:hover, .woocommerce-page .quantity .plus:hover, .woocommerce-page #content .quantity .plus:hover {
    background-color: #1abc9c;
}
.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus, .woocommerce .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce-page #content .quantity .plus {
    padding: 0;
    width: 19px;
    height: 19px;
    line-height: 17px;
    margin-top: 13px;
    display: inline;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    background-color: #bababa;
    color: #fff;
    border-radius: 500px;
}
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce table tr.cart_item span.woocommerce-Price-amount.amount {
    border: 0;
    padding: 0 5px;
    display: block;
    width: 28px;
    display: inline;
    text-align: center;
    background: 0;
}
/*add to cart single page*/
.woocommerce button.single_add_to_cart_button.button.alt {
	margin-left:20px;
	margin-top: 0px;
}
/*.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	padding: 13px;
}*/
.woocommerce button.button.alt, .woocommerce #respond input#submit,  .woocommerce button.button, .woocommerce input.button {/*.woocommerce a.button,*/
        background-color: #1ABC9C!important;
		color:#FFFFFF;
}
.woocommerce .button:hover, .woocommerce-page .button:hover, .woocommerce button.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce a.button:hover {
	 background-color: #31C2A6!important;
	 color:#5f6368;
}
/*.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button { font-size:13px; }*/
/*woo message*/
.woocommerce div.message, .woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .myaccount_user {
    margin-bottom: 25px;
    position: relative;
    display: block;
    line-height: 38px;
	border-top:none;
}
.woocommerce ul.woocommerce-error li{ list-style-type: none!important; }
.woocommerce .product .onsale, .woocommerce .product .single-onsale {
    position: absolute;
    top: -16px!important;
    width: 4.533333333333333em;
    height: 4.533333333333333em;
    line-height: 4.533333333333333em;
    text-align: center;
	font-weight: inherit;
    background-color: #303030;
    color: #fff;
    -webkit-border-radius: 500em;
    -moz-border-radius: 500em;
    -ms-border-radius: 500em;
    -o-border-radius: 500em;
    border-radius: 500em;
    z-index: 1;
	padding: 0px;
	right: -7px!important;
}
/*woo Out Of Stock*/
.woocommerce .summary p.stock.out-of-stock {
    display: inline-block;
    font-weight: 700;
    padding-bottom: 1px;
    border-bottom: 2px solid;
    margin: 8px 0;
}
/*woo product_meta*/
.woocommerce .product_meta {
	background-color: #fff;
    border-top: 4px solid #e7e7e7;
    border-radius: 1px;
	padding-top: 15px;
}
.woocommerce div.product div.product_meta>span, .woocommerce div.product div.product_meta>.social_share_list_holder>span {
    display: block;
    position: relative;
    font-size: inherit;
    padding: 3px 0px;
}
.woocommerce div.product div.product_meta>span span, .woocommerce div.product div.product_meta>span a {
    font-weight: 300;
    color: #777;
    text-transform: none;
    margin-left: 3px;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -ms-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
    -webkit-backface-visibility: hidden;
}
/*woo social box*/
.woocommerce .social-box {
	text-align: left;
	margin: 11px 0px 0px 0px;
}
.woocommerce .social-share-box {
	height: 30px;
    width: 30px;
	line-height: 10px;
    font-size: 12px;
	margin: 5px 2px;
	border: 1px solid #cccccc;
	padding: 9px;
}
.woocommerce .social-share-box:hover {
	border: 2px solid #47C494;
	color:#FFF;
}
/*woo tabs*/
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #999999;
    display: block;
    -webkit-transition: border 200ms ease-out;
    transition: border 200ms ease-out;
	font-size:inherit;
	padding-top: 11px;
	font-weight: inherit;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce div.product .woocommerce-tabs ul.tabs:after  {
	content: none;
}
.woocommerce .woocommerce-tabs.wc-tabs-wrapper:before, .woocommerce .woocommerce-tabs.wc-tabs-wrapper:after {
    content: " ";
    display: table;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	border-bottom: 1px solid #EEE;
	padding-left: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #ebe9eb;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce div.product .woocommerce-tabs ul.tabs li:hover a {
    border: none!important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	/*background: none;*/
	border: none;
	margin: 0px!important;
   /* padding: 0px 20px 0px 0px!important;*/
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce div.product .woocommerce-tabs ul.tabs li:hover a  {
    border-color: #333333;
    color: #333333;
    border-top: 4px solid #333333;
    border-radius: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover{
	color: #333333!important;
}
.woocommerce .panel {
	box-shadow:none;
	border: none;
	padding:8px  0px 30px 0px!important;
}
/*woo tabs :: Reviews*/
.woocommerce #reviews h3 {
	padding-top: 30px;
}
.woocommerce #reviews #comments ol.commentlist {
    padding-left: 0px;
	padding-top: 25px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	height: 60px;
    width: 60px;
    border-radius: 50%;
	display: inline-block;
    max-width: 100%;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 90px;
	background: none repeat scroll 0 0 #FCFCFC;
	border:none;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:before {
	border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid #FCFCFC;
    border-top: 15px solid rgba(0, 0, 0, 0);
    height: 0;
    left: 75px;
    position: absolute;
    top: 13px;
    width: 0;
	content:"";
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
   /* letter-spacing: 0.3px;
    color: #818181;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;*/
	font-size: inherit;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time{
	text-transform: capitalize;
    /*margin-top: 5px;
    font-weight: 600;
    font-family: 'Raleway',serif!important;*/
}
/*woo tabs :: Reviews :: FORM*/
.woocommerce #review_form #respond {
	border-top: 4px double #e7e7e7;
	padding-top: 20px;
    margin-top: 25px;
}
.woocommerce-Reviews form#commentform {
    padding-top: 20px;
}
.woocommerce p.comment-form-rating {
	padding-top: 25px;
}
.woocommerce p.stars a, .woocommerce p.stars a:hover {
	color: #f4d83a!important;
}
.woocommerce #review_form #respond textarea {
    width: 100%;
    border: none;
    background: #f5f5f5;
    margin-bottom: 24px;
    border-radius: 0;
    padding: 16px 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.woocommerce #review_form #respond p.comment-form-author, .woocommerce #review_form #respond p.comment-form-comment {
	margin-bottom: 0px;
}
/********************
WIDGET
********************/
/*Price Filter*/
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    cursor: pointer;
    outline: 0;
    top: -3px;
    color: #fff;
    background-color: #979797;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #ebebeb;
	height: .3em;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-color: #979797;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    top: 0;
    height: 70%;
}
.woocommerce .widget_price_filter .price_label, .woocommerce-page .widget_price_filter .price_label {
    float: left;
    font-size: 13px;
}
.woocommerce .widget_price_filter .button, .woocommerce-page .widget_price_filter .button {
    float: right!important;
    padding: 0 16px;
}
/*Raiting Filter*/
.woocommerce .widget_rating_filter ul {
	margin: 0 0 0 39px;
}
/*Cart*/
.woocommerce .widget_shopping_cart p.buttons {
	padding-top:15px;
}
.woocommerce .widget_shopping_cart p.buttons a.button {
	background-color: #31C2A6;
	color: #5f6368;
	border-radius: 4px;
}
/*SEARCH*/
.woocommerce .widget_product_search input[type="submit"]{
	margin-top: -74px;
    position: relative;
    padding: 15px 9px 32px;
    margin-right: 0px;
}
/*.woocommerce.widget_product_categories ul.product-categories li.current-cat a{
	font-weight:bold;
}*/
/********************
PAGINATION
********************/
.woocommerce nav.woocommerce-pagination{
	margin:30px 0px 50px 0px;
}
.woocommerce nav.woocommerce-pagination ul {
     border: none; 
}
.woocommerce .woocommerce-pagination ul.page-numbers li.current {
    color: #303030;
    background-color: #e3e3e3;
    border-color: #e3e3e3;
}
.woocommerce .woocommerce-pagination ul.page-numbers li{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 32px;
    margin: 0 5px 0 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid #e5e5e5;
}
.woocommerce .woocommerce-pagination ul.page-numbers li a{
	color: #b4b4b4;
}
/********************
CART
********************/
.woocommerce table.shop_table {
    border: none!important;
    border-radius: 0px;
}
.woocommerce .checkout table.shop_table thead tr th, .woocommerce-page .checkout table.shop_table thead tr th, .woocommerce table.cart thead tr th, .woocommerce-page table.cart thead tr th, .woocommerce-account table.my_account_orders thead tr th, .woocommerce-page table.my_account_orders thead tr th {
    font-weight: 500;
    border-right: 0px;
}
.woocommerce table.shop_table td {
    border:none;
	padding: 3px 12px;
}
.woocommerce-cart table.cart tbody tr td a, .woocommerce-checkout .checkout table tbody tr td a {
    color: #888;
	font-family:inherit;
    font-size: 14px;
    line-height: 26px;
    color: #818181;
    font-weight: 400;
	text-transform:capitalize;
	letter-spacing:0.4px;
}
.woocommerce table.shop_table td.product-quantity .minus, .woocommerce table.shop_table td.product-quantity .plus{
	margin-top: 0px;
} 
.woocommerce table.shop_table td.product-quantity .quantity input.qty {
	width: 35px;
}
.woocommerce table.shop_table td.product-remove a.remove:hover {
	background:none;
	color: #686868!important;
}
.woocommerce table.cart thead tr th.product-remove {
	width: 5%;
}
.woocommerce table.cart thead tr th.product-thumbnail {
	width: 10%;
}
.woocommerce table.cart thead tr th.product-name {
    width: 40%;
}
.woocommerce table.cart div.coupon .input-text, .woocommerce-page table.cart div.coupon .input-text {
    background-color: #f5f5f5;
    outline: 0;
    resize: none;
    border: 0px!important;
	height: 40px;
    width: 178px;
    min-height: 37px;
}
.woocommerce table.shop_table td.actions {
    padding: 20px 10px 20px 20px;
}
.woocommerce .cart-collaterals .cart_totals table tr.cart-subtotal th, .woocommerce .cart-collaterals .cart_totals table  tr.order-total th{
	border-bottom:0px
}
.woocommerce .cross-sells ul.products li.product h3 {
	margin-top: 0px!important;
	margin-bottom: 0px!important; 
}
.woocommerce .woo_cart_total_padding {
	padding-bottom:15px;
}
/*.woocommerce .wc-proceed-to-checkout a.button.alt {
	background-color: #38AB7F;
	padding: 12px!important;
    font-size: 15px!important;
	border-radius:4px!important;
}*/
/********************
CHECKOUT
********************/
.woocommerce p.return-to-shop a.button{
	background-color: #1ABC9C;
	border-bottom: none; 
	border-radius: 4px;
	color:#FFF;
}
.woocommerce div.woocommerce-checkout-payment {
	margin:50px 0px 0px 0px;
}
.woocommerce ul.wc_payment_methods.payment_methods li {
	list-style-type: none!important;
}
.woocommerce .woocommerce-billing-fields h3, .woocommerce .woocommerce-shipping-fields h3 {
	padding: 15px 0px;
}
.woocommerce table.woocommerce-checkout-review-order-table thead tr, .woocommerce table.woocommerce-checkout-review-order-table tfoot tr.cart-subtotal, .woocommerce table.woocommerce-checkout-review-order-table tfoot tr.order-total{
	background: #f2f2f2;
}
.woocommerce table.woocommerce-checkout-review-order-table tbody tr.cart_item td{
	padding:9px 0px;
}
.woocommerce table.woocommerce-checkout-review-order-table tbody tr td.product-name {
	padding-left: 11px;
}
.woocommerce table.woocommerce-checkout-review-order-table tbody tr td.product-total {
	padding-left: 7px;
}
.woocommerce table.shop_table tfoot tr.cart-subtotal th, .woocommerce table.shop_table tfoot tr.order-total th {
	border:0px!important;
}
/********************
MY ACCOUNT
********************/
.woocommerce .woocommerce-MyAccount-navigation ul li{
	list-style: none!important;
	padding: 8px 0px 8px 13px;
	background: #f2f2f2;
	margin-bottom: 10px;
}
.woocommerce .woocommerce-MyAccount-navigation ul li a{ 
    font-weight: bold;
}
.woocommerce .woocommerce-MyAccount-navigation ul{
	padding-left: 0px;	
}
/********************
VC PRODUCT LIST
********************/
.shop_product_list_holder, .shop_product_list_holder ul {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.shop_product_list_holder ul {
    margin: 0;
    padding: 0;
    clear: both;
}
.shop_product_list_holder, .shop_product_list_holder ul {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.shop_product_list_holder.three_columns ul li:nth-child(3n+1),  .shop_product_list_holder.two_columns ul li:nth-child(2n+1) {
    clear: both;
}
.shop_product_list_holder ul li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}
.shop_product_list_holder .product_list_inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 10%; /*14% 4% 10%;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.shop_product_list_holder .product_list_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.shop_product_list_holder .product_category {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 20px 0 0;
}
.shop_product_list_holder .product_category {
	text-transform: uppercase;
    letter-spacing: 1px;
    color: #9b9b9b;
    padding: 0px 3px 5px 3px;
    font-size: 11px;
}
.shop_product_list_holder .product_title {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 5px 0 10px;
}
.shop_product_list_holder .separator.small {
    background-color: #303030;
    height: 2px;
    position: relative;
    width: 22px;
    display: block;
    margin: 10px auto 25px;
}
.shop_product_list_holder .product_price del{
	 color: #e5e5e5;
}
.shop_product_list_holder .product_price {
    margin: 30px 0 0;
    color: #303030;
    font-size: 29px;
    line-height: 1em;
	font-weight: 600;
}
.shop_product_list_holder .product_price {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
}
.shop_product_list_holder .product_button {
    margin: 30px 0 20px;
}
.shop_product_list_holder .product_button{
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
}
.shop_product_list_holder .product_image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.shop_product_list_holder .product_image img {
    display: block;
    margin: 0 auto;
}
.shop_product_list_holder.three_columns ul li {
    width: 33.33%;
}
.shop_product_list_holder .product_button a {
    position: relative;
     z-index: 2; 
}
@media (max-width:767px) {
.shop_product_list_holder.three_columns ul li, .shop_product_list_holder.two_columns ul li  {
	width:100%;
}
.shop_product_list_holder.three_columns ul li.woo_li_replace, .shop_product_list_holder.two_columns ul li.woo_li_replace {
	border-right:0px!important;
}
}
/***** WooCommerce Product List - Hover - begin *****/
.shop_product_list_hover {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.shop_product_list_hover .woo-masonry-item.col-md-3.col-sm-12, .shop_product_list_hover .woo-masonry-item.col-md-4.col-sm-12, .shop_product_list_hover .woo-masonry-item.col-md-6.col-sm-12{
	padding-right: 0px; 
	padding-left: 0px;
	margin: 0px 0px 10px 0px;
}
.shop_product_list_hover .shop_product_list_hover_item:hover .product_list_item_inner {
    opacity: 1;
}
.shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner {
  opacity: 0;
  background-color: #fafafa;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_list_item_table {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_list_item_table_cell {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
.shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_category {
  margin-bottom: 5px;
  color: #777777;
}
.shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_category a {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  z-index: 2;
}
.shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_category a:not(:hover) {
  color: inherit;
}
.shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_title h1, .shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_title h2, .shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_title h3, .shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_title h4, .shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_title h5 {
  color: #303030;
  font-weight: 500;
  z-index: 2;
}
.shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_separator {
  width: 70px;
  background-color: #bfbfbf;
  margin: 3px auto 20px;
}
.shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .product_price {
  color: #303030;
  font-size: 15px;
  font-weight: 500;
}
.shop_product_list_hover .shop_product_list_hover_item .product_list_item_inner .list_link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/**** WOO MENU CART****/
.bind_woo_menu_cart {
	float:right;
	color: #FFF; 
	margin: 0px 0px 0px 25px;
	display:block;
}
.shopping_cart_outer {
	display:table;
	position:relative;
	width:43px;
	margin-right: -15px;
}
.shopping_cart_inner {
	display:table-cell;
	height:100px;
	vertical-align:middle
}
.shopping_cart_header {
	display:inline-block;
	width:43px
}
.shopping_cart_header .header_cart {
	padding:0 9px 0 0;
	display:inline-block;
	vertical-align:middle;
	border-radius:2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	-o-border-radius:2px 2px 0 0;
	-ms-border-radius:2px 2px 0 0;
	position:relative;
	width:34px;
	height:15px;
	color: #2A2A2A;
	font-size: 17px;
}
.shopping_cart_header .header_cart .header_cart_span {
	top: -11px;
    right: 6px;
    left: auto;
    width: 19px;
    height: 18px;
    line-height: 17px;
    background-color: #797979;
    color: #ffffff;
    font-size: 10px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.shopping_cart_dropdown {
	background-color:#262626;
	display:block;
	left:auto;
	position:absolute;
	right:15px;
	top:75%;
	z-index:1000;
	padding:15px;
	width:250px;
	visibility:hidden;
	-webkit-transition:opacity .2s ease-in-out;
	-moz-transition:opacity .2s ease-in-out;
	-o-transition:opacity .2s ease-in-out;
	-ms-transition:opacity .2s ease-in-out;
	color:#9d9d9d
}
.bind_woo_menu_cart ul.cart_list.product_list_widget {
    margin: 0px;
    padding-left: 0px;
}
.shopping_cart_header .header_cart:hover i {
	color:#1abc9c
}
.shopping_cart_header .header_cart span {
	position:absolute;
	width:34px;
	height:38px;
	top:0;
	left:0;
	text-align:center;
	line-height:45px;
	font-family:Raleway, sans-serif;
	font-weight:600;
	color:#9d9d9d
}
/*after scroll*/
nav.site-header.after-scroll-wrap .bind_woo_menu_cart .shopping_cart_inner {
	height: 70px;
}
nav.site-header.after-scroll-wrap .shopping_cart_header .header_cart .header_cart_span {
    color: #ffffff;
}
nav.site-header.after-scroll-wrap .shopping_cart_header .header_cart {
	color: #2A2A2A!important;
}
@media (min-width:768px) and (max-width:991px) {
	.bind_woo_menu_cart { 
		display:none; 
	}
}
@media (max-width:767px) {
	.bind_woo_menu_cart { 
		display:none; 
	}
}
/*inner dropdown carts*/
.shopping_cart_dropdown ul li {
	display:inline-block;
	width:100%;
	float:none;
	padding:4px 0;
	border-bottom:1px solid #2f2f2f;
	line-height:20px;
	color:#9d9d9d
}
.shopping_cart_header .header_cart i {
	margin:0;
	color:#8e8e8e;
	font-size:14px;
	line-height:28px;
	-webkit-transition:color .3s ease;
	-moz-transition:color .3s ease;
	-o-transition:color .3s ease;
	-ms-transition:color .3s ease
}
.shopping_cart_dropdown span.total, .shopping_cart_dropdown ul li {
	font-size:12px;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {
	font-weight:inherit;
}
.header_bottom .shopping_cart_dropdown {
	right:-7px;
	margin-left:-142px
}
header.transparent:not(.sticky) .shopping_cart_dropdown {
	top:75%
}
.header_bottom .shopping_cart_header {
	padding:0 4px 0 7px
}
.shopping_cart_dropdown.drop_down_start {
	visibility:visible;
	overflow:visible;
	opacity:1
}
.header_top .left .shopping_cart_dropdown {
	left:0;
	right:auto
}
.shopping_cart_outer:hover .shopping_cart_dropdown {
	display:block;
	visibility:visible;
	text-align:left
}
.shopping_cart_dropdown .shopping_cart_dropdown_inner {
	margin-bottom:15px
}
.shopping_cart_dropdown ul li a {
	color:#9d9d9d
}
.shopping_cart_dropdown ul li a:hover {
	color:#fff
}
.shopping_cart_dropdown span.total {
	padding:0 0 0 8px;
	float:right;
	color:#9d9d9d
}
.shopping_cart_dropdown span.total span {
	font-family:inherit;
	font-size:13px;
	color:#fff;
	padding:0 0 0 2px
}
.shopping_cart_dropdown .qbutton {
	min-height: 28px;
    font-size: 11px;
}
.shopping_cart_dropdown .qbutton i {
	font-size:14px;
	padding:0 0 0 4px;
	margin:0
}
.shopping_cart_dropdown .cart_list a>img {
	display:block!important;
    float: right;
    margin-left: 4px;
    max-width: 32px;
    height: auto;
    box-shadow: none;
}
.shopping_cart_dropdown .cart_list span.quantity {
	display:block;
	color:#fff;
	margin-top:3px
}
.shopping_cart_dropdown ul li a {
    color: #9d9d9d;
}
h2.woocommerce-loop-product__title {
	letter-spacing: 0px;
	font-weight: 500;
	padding:0px!important;
	font-size: inherit;
}
.woocommerce .woocommerce-breadcrumb {
	color: inherit;
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
	padding: 0 22px;
	color: #ffffff;
}
/*PRODUCT*/
.sidebar-widget-box .widget_product_categories ul {
    padding: 0px;
}
.sidebar-widget-box .widget_product_categories ul li {
    font-weight: 500;
    border-bottom: 1px solid #fff;
    background: #f2f2f2;
    margin: 0;
    padding: 0 23px 0 0;
}
.sidebar-widget-box .widget_product_categories ul li a {
    text-decoration: none !important;
    border-left: 5px solid transparent;
    display: inline-block;
    padding: 12px 0 12px 18px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.sidebar-widget-box .widget_product_categories ul.children {
    margin-top: -3px;
	margin-bottom: 11px;
}
.sidebar-widget-box .widget_product_categories ul li .children li:before {
    content: '-';
    display: block;
    position: absolute;
    left: 18px;
    top: 4px;
    color: #777;
}
.sidebar-widget-box .widget_product_categories ul li .children li {
    position: relative;
    font-weight: 400;
    border: 0;
    padding-right: 0;
    background: none;
}
.sidebar-widget-box .widget_product_categories ul li .children li a {
    background: none;
    border: 0;
    padding: 4px 0px 5px 33px;
}
.sidebar-widget-box .widget_product_categories ul li.current-cat>a {
	border-left-color: #b2ac90;
}
/***************** DROP DOWN SELECTOR ****************/
.woocommerce .woocommerce-ordering select { 
	width: 225px;
	height: 40px;
	cursor: pointer;
	box-shadow: 0 2px 0 white;
	border-radius: 2px;
}
/***************** END DROP DOWN SELECTOR ****************/
.woocommerce ul.product_list_widget li {
    padding: 0 0 20px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 20px;
    list-style: none;
}
.woocommerce ul.product_list_widget li img {
    float: left;
    margin: 0 16px 0 0;
    width: 54px;
    height: auto;
    box-shadow: none;
}
.woocommerce ul.product_list_widget li .star-rating {
    float: none;
    margin: 8px 0 10px;
    font-size: 11px;
    height: 11px;
    width: 76px;
    letter-spacing: .4em;
}
.woocommerce ul.product_list_widget li .amount {
    color: #999;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.04em;
}
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
    border-top:none;
    padding: 10px 0 0;
}
.woocommerce .woocommerce-ordering select{
    outline: 0;
    max-width: 100%;
    background-image: url(//store.hotspotbnb.com/wp-content/themes/hotspotbnb-child/css/../img/arrow.svg);
    background-position: 93% center;
    background-size: 20px;
    background-repeat: no-repeat;
    position: relative;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.woocommerce ul.products li.product:hover {
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.15);	
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 48%;
    border: 5px solid #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.woocommerce div.product form.cart .group_table td:first-child {
    width: 0px;
}
.woocommerce div.product form.cart .group_table td {
    vertical-align: initial;
}
table.woocommerce-grouped-product-list.group_table{
	border:0px;
	padding: 0px!important;
	margin-bottom: 20px;
}
table.woocommerce-grouped-product-list.group_table input[type="number"] {
	min-height: 22px;
	height: 0px;
}
table.woocommerce-grouped-product-list.group_table .minus, table.woocommerce-grouped-product-list.group_table .plus {
	margin-top: 0px;
}
table.woocommerce-grouped-product-list.group_table td {
    padding: 3px 0px!important;
}
table.woocommerce-grouped-product-list.group_table td:first-child {
    text-align: left!important;
}
.woocommerce form.grouped_form  button.single_add_to_cart_button.button.alt{
	margin-left: 0px; 
}
p#billing_country_field, p#billing_state_field {
	margin-bottom: 40px;
}
p#billing_country_field .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 20px 10px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered { 
    color: #818181;
    padding: 18px 10px;
    background-color: #F5F5F5;
    border: 1px solid #ddd;
}
.select2-container--default .select2-selection--single  { 
	border:none !important; 
	border-radius: 0px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}
.woocommerce .woocommerce-pagination ul.page-numbers li {
	height: auto;
	border:none;
}
.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover {
	color: #303030;
}
.woocommerce div.product form.cart .group_table td:first-child {
    width: auto;
}
table.woocommerce-grouped-product-list tr:nth-child(odd) {
	background-color: #f2f2f2!important;
}
table.woocommerce-grouped-product-list div.quantity {
    margin: 10px 0px -5px 10px!important;
}
.woocommerce-shipping-fields .checkbox input[type=checkbox]{
	margin-top: 11px;
	margin-left: 0px;
}
.woocommerce-shipping-fields #ship-to-different-address span{
    margin-left: 25px;
}
.woocommerce-shipping-fields p#shipping_country_field .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 7px 10px;
}
.woocommerce-shipping-fields p#shipping_country_field {
	margin-bottom: 40px;
}
div.woocommerce-terms-and-conditions-wrapper p.validate-required .input-checkbox{
	position: absolute;
	margin: 7px 0px;
}
div.woocommerce-terms-and-conditions-wrapper p.validate-required label.checkbox {
    position: relative;
}
div.woocommerce-terms-and-conditions-wrapper p.validate-required span.woocommerce-terms-and-conditions-checkbox-text{
    margin-left: 22px;
}
div.coupon .button{
	border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
